/* Embedded Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+15+Charted&display=swap');

/* Root Styles */
:root {
  font-family: 'Jersey 15 Charted', as, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #803D3B;
  background-color: #E4C59E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Rest of your CSS styles */
a {
  font-weight: 500;
  color: #322C2B;
  text-decoration: inherit;
}
a:hover {
  color: #803D3B;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.9em;
  line-height: 1.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #803D3B;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Adding border to images */
img {
  border: 2px solid #000000; /* Change the color and width as needed */
}

